.report-button {
    background-color: black;
    color: #fff;
    padding: 0.8rem 2.2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: background-color 0.2s ease;
}

.report-button:hover {
    background-color: grey;
}

.reportInci-content {
    display: flex;
    align-items: center;
    justify-content: center;
}