.background-image {
    height: 93vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.staff-details-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5%);
    transition: transform 0.3s ease;
}



.staff-details-box h2 {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.staff-details-box p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #666;
    line-height: 1.5;
}

.staff-details-box .form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    text-align: left;
}

.staff-details-box .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.staff-details-box .form-group div {
    font-size: 1.2rem;
    color: #666;
    display: flex;
    align-items: center;
}

.staff-details-box .form-group div i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #333;
}